<div class="header">
  <h4>Dashboard</h4>
  <div class="filter">
    <div class="select">
      <div class="label">Project</div>
      <select class="custom-select custom-select-sm">
        <option selected>Select</option>
        <option value="{{item}}" *ngFor="let item of projects">{{item}}</option>
      </select>
    </div>
    <div class="select">
      <div class="label">Employee</div>
      <select class="custom-select custom-select-sm">
        <option selected>Select</option>
        <option value="{{item}}" *ngFor="let item of employees">{{item}}</option>
      </select>
    </div>
  </div>
</div>
<div class="status">
  <h4>Project Status</h4>
  <div class="status-card">
    <div class="list">
      <div>All project time log</div>
      <div>All project estimated time</div>
      <div>All employee time log</div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project</th>
      <th scope="col">Employee</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of logtime;let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item?.project}}</td>
      <td>{{item?.employee}}</td>
      <td>{{item?.date}}</td>
      <td>{{item?.time}}</td>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
